.error {
  width: 100%;
  height: fit-content;
  background-color: #e60000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  color: white;
}