.create-post {
  height: 100%;
  width: 100%;
  background-color: rgb(225, 233, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 70%;
}

.desc-wrapper {
  height: 250px;
  padding-bottom: 20px;
}

.btns-wrapper {
  display: flex;
  width: 50%;
  margin: 0 auto;
  column-gap: 10px;
}