.error-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background-color: bisque;
  list-style: square;
  border-radius: 7px;
  padding: 10px 30px 10px 30px;
  line-height: 25px;
  top: 50%;
  left: 68%;
  transform: translateY(-50%);
}