.layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
      "header header header"
      "sidebar main main"
      "sidebar main main";
    grid-template-columns: minmax(20%, auto) 4fr 1fr;
    grid-template-rows: fit-content(200px) 1fr 80px;

  .topbar-container {
    grid-area: header;
  }

  .left-menu-container {
    grid-area: sidebar;
  }

  .main-container {
    grid-area: main;
  }
}