.leftbar {
  height: 100%;
}

.left-menu-item {
  &:hover {
      background-color: rgb(193, 209, 204);
      transition: 0.2s ease-out;
      border-left: 2px solid blue;
    }
  &__link {
    text-decoration: none;
      color: black;
      width: 100%;
      display: block;
      font-size: 20px;

      &.active {
        border-left: 2px solid blue;
        background-color: rgb(193, 209, 204);
      }
  }
}