.btn-wrapper {
  width: fit-content;
  margin-left: 10px;
}

.postscards-wrapper {
  margin-top: -150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: fit-content(200px);
  gap: 20px;
  padding: 20px;

  a {
    text-decoration: none;
    color: initial;
  }
}

.actions-btns-wrapper {
  display: flex;
  column-gap: 10px;
}

@media(max-width: 1200px) {
  .postscards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 918px) {
  .postscards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 640px) {
  .postscards-wrapper {
    grid-template-columns: 1fr;
  }
}
