.posts {

  .btn-wrapper {
    width: fit-content;
    padding: 20px;
  }

  .postscards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 10px;
    padding: 20px;

    a {
      text-decoration: none;
      color: initial;
    }
  }
  
  @media(max-width: 1200px) {
    .postscards-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media(max-width: 918px) {
    .postscards-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 640px) {
    .postscards-wrapper {
      grid-template-columns: 1fr;
    }
  }

  .actions-btns-wrapper {
    display: flex;
    column-gap: 10px;
  }
}
