.reset-wrapper {
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 20px;
    border-radius: 7px;
}

.reset-btn-wrapper {
  transform: translate(30px, 30px);
}

.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .success-div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #33cc33;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}