.topbar {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffd480;

  .user {
    margin-right: 10px;
    width: fit-content;
  }

  .log-out {
    width: fit-content;
  }
}