.users-page {
  height: 100%;
}

.btn-wrapper {
  width: fit-content;
  padding: 10px;
}

.action-btns-wrapper {
  display: flex;
  column-gap: 20px;

  &__edit {
    width: fit-content;
  }

  &__delete {
    width: fit-content;
  }
}