.user-modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10001;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;

  #modal {
    z-index: 100002;
    position: absolute;
  }

}