._users-page {
  height: 100%;

  .btn-wrapper {
    width: fit-content;
    padding: 10px;
  }

  .action-btns-wrapper {
    display: flex;
    column-gap: 20px;

    button {
      width: fit-content;
    }
  }
}